{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid" id="messages">
    <div class="row">
        <h2>Login</h2>
    </div>
    <div class="row">
        <p>
            To log into Tagmench, enter the password or click "Guest".
        </p>
    </div>
    <div class="row">

        <form action="/login" method="post" id="login">
            {{ form.csrf_token }}
            <input type="hidden" id="guest" name="guest" value="" />
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="btn-group" role="group" aria-label="Actions">
              <button type="submit" class="btn btn-primary">Login</button>
              <button type="submit" id="btn-guest" class="btn btn-link">Continue as guest</button>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}
